@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#navbar {
    background: white;
    color: rgb(13, 26, 38);
    position: fixed;
    top: 0;
    height: 50px;
    line-height: 60px;
    width: 100vw;
    z-index: 10;
}

#nav {
    color: white;
  }
  
#nav-content {
    color: white;
}  

.menu {
    color: #fffbfd;
    font-size: large;
}

.content {
    color: #fffbfd;
    font-size: large bold;
    background: none;
    border: none;
    transition: all 0.5ms;
}
  
.content:hover {
    color: #f13c31;
}

.nav_bar {
    background: white;
    position: fixed;
    top: 0;
    width: 100vw;
    height: auto;
}
  
.brand-logo {
    height: auto;
    width: 50px;
    padding-left: 5px;
    padding-top: 5px;
}
  
.name {
    color: black;
}
  
.header {
    height: 100%;
    background-size: cover;
    float: left;
  margin-left: 28px;
  font-size: 1.5em;
  height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.menu {
    color: black;
}

.menu b{
    padding-left: 10px;
}

.menu a{
    color: black;
    text-decoration: none;
    transition: all 0.5s ease;
}

.menu a:hover{
    color: dodgerblue;
    text-decoration: none;
    transition: all 0.5s ease;
}

.header h1 {
    color: #ffffff;
    padding: 15% 0 0 0;
    font-family: "Jost", sans-serif;
}
  
.logo {
    width: 100%;
    height: auto;
    margin: 30% 0 0 10%;
}

#navbar ul {
    display: inline-block;
    float: right;
    list-style: none;
    /* margin-right: 14px; */
    margin-top: -2px;
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
} @media(max-width: 640px) {
    #navbar ul {
    display: none;
    }
} @media(orientation: landscape) {
    #navbar ul {
        display: inline-block;
    }
    }

#navbar li {
display: inline-block;
}
  
#navbar li a {
color: rgb(13, 26, 38);
display: block;
font-size: 0.7em;
height: auto;
letter-spacing: 1px;
margin: 0 5px;
padding: 0;
position: relative;
text-decoration: none;
text-transform: uppercase;
transition: all 0.5s ease;
-webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
/* border-bottom: 1px solid rgb(28, 121, 184); */
color: dodgerblue;
transition: all 1s ease;
-webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li a:before, #navbar li a:after {
content: '';
position: absolute;
width: 0%;
height: 1px;
bottom: 0px;
background: white;
}

#navbar li a:before {
left: 0;
transition: 0.5s;
}

#navbar li a:after {
background: white;
right: 0;
/* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}

#navbar li a:hover:before {
background: white;
width: 100%;
transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
background: transparent;
width: 100%;
/* transition: 0s; */
}


body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(-45deg, #B60F46, #C22ED0, #FF8DDB, #5FFAE0, #EAD6EE);
	background-size: 500% 500%;
	animation: gradient 15s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    min-height: fit-content;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 40px 30px;
}

.container .login-text {
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}

.container .login-social {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50%, 1fr));
    margin-bottom: 25px;
}

.container .login-social a {
    padding: 12px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    color: #FFF;
    transition: .3s;
}

.container .login-social a i {
    margin-right: 5px;
}

.container .login-social a.facebook {
    transition: .3s;
    background: #4267B2;
}

.container .login-social a.twitter {
    transition: .3s;
    background: #1DA1F2;
}

.container .login-social a.google-plus {
    transition: .3s;
    background: #DB4A39;
}

.container .login-social a.linkedin {
    transition: .3s;
    background: #0E76A8;
}

.container .login-social a.facebook:hover {
    transform: translateY(-5px);
    background: #395a9b;
}

.container .login-social a.twitter:hover {
    transform: translateY(-5px);
    background: #1782c4;
}

.container .login-social a.google-plus:hover {
    transform: translateY(-5px);
    background: #bb3d2f;
}

.container .login-social a.linkedin:hover {
    transform: translateY(-5px);
    background: #0c628a;
}

.container .login-email .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.container .login-email .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #e7e7e7;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}

.container .login-email .input-group input:focus, .container .login-email .input-group input:valid {
    border-color: #a29bfe;
}

.container .login-email .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    justify-content: center;
    border: none;
    outline: none;
    background: #a29bfe;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.container .login-email .input-group .btn:hover {
    transform: translateY(-5px);
    background: #6c5ce7;
}

.login-register-text {
    color: #111;
    font-weight: 600;
}

.login-register-text a {
    text-decoration: none;
    color: #6c5ce7;
}

@media (max-width: 400px) {
    .container {
        width: 300px;
    }
    .container .login-social {
        display: block;
    }
    .container .login-social a {
        display: block;
    }
}
